<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Anjali Jha. It uses data from mapbox.com and darksky.net! :)</p>
        <img class="portrait" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR3pTn9XkOUMhUAvZP4pRfVgk_n-zwoUXMAadgEgYuYMSxnqxHm">
    </div>
    
    {{>footer}}
</body>

</html>